@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
    text-decoration: none;
}

body {
    background-color: white;
    font-family: Comfortaa, sans-serif;
    font-weight: 300;
    color: #1e1926;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Varela+Round, sans-serif;
    color: #1e1926;
}

/*header*/

header {
    padding: 5px;
}

.header-container {
    width: 100%;
    height: 80px;
    background-color: #9a89b4;
    border-radius: 50px;
}