@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
    text-decoration: none;
}

body {
    background-color: white;
    font-family: Comfortaa, sans-serif;
    font-weight: 300;
    color: #1e1926;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Varela+Round, sans-serif;
    color: #1e1926;
}

/*header*/

header {
    padding: 5px;
}

.header-container {
    width: 100%;
    height: 80px;
    background-color: #9a89b4;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

.header {
    width: 1825px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.company {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.company li {
    display: inline;
    color: #FDf7FF;
    padding-right: 25px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    text-transform: uppercase;
    text-decoration: underline;
    color: #FDf7FF;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav li {
    display: inline;
    color: #FDf7FF;
    padding-left: 25px;
}

header a {
    text-decoration: none;
    color: inherit;
}

header a:hover {
    color: #0000ff;
}

/*footer*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-padding {
    padding: 5px;
}

.footer-container {
    background-color: #9a89b4;
    width: 100%;
    height: 80px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

.social {
    width: 1500px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 250%;
    
}

.social a {
    color: #FDf7FF;
}

.copyright {
    height: 30px;
    display: flex;
    justify-content: center;
}

.copyright small {
    display: flex;
    align-items: center;
    color: #FDf7FF;
}

footer a:hover {
    color: #0000ff;
}

/*index page*/

.index-hero {
    padding: 50px;
}

.index-hero-img {
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url(../images/index-hero.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.cover-text {
    bottom: 300px;
    right: 200px;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    font-size: 150%;
    line-height: 50px;
    letter-spacing: 5px;
    width: 50%;
}

.positions-padding {
    padding: 0 300px;
}

.positions-container {
    width: 100%;
    padding-bottom: 50px;
}

.positions {
    width: 100%;
    
}

.back-img {
    width: 50%;
    height: 500px;
    background-color: orange;
    float: left;
}

.back-txt {
    width: 50%;
    height: 500px;
    background-color: red;
    float: right;
}

.side-img {
    width: 50%;
    height: 500px;
    background-color: yellow;
    float: right;
}

.side-txt {
    width: 50%;
    height: 500px;
    background-color: blue;
    float: left;
}

.front-img {
    width: 50%;
    height: 500px;
    background-color: green;
    float: right;
}

.front-txt {
    width: 50%;
    height: 500px;
    background-color: purple;
    float: left;
}

/*Media Queries*/

/*header*/

@media (max-width: 1200px) {
    .header {
        width: 1100px;
    }
}
@media (max-width: 992px) {
    .header {
        width: 892px;
    }
}

@media (max-width: 768px) { /*iPad*/
    .header {
        width: 668px;
    }

    .company {
        font-size: x-small;
    }

    .logo {
        font-size: small;
    }

    .nav {
        font-size: x-small;
    }
}

@media (max-width: 576px) {
    .header {
        width: 476px;
    }

    .company {
        font-size: xx-small;
    }

    .logo {
        font-size: x-small;
    }

    .nav {
        font-size: xx-small;
    }
}

@media (max-width: 375px) { /*iPhone X*/
    .header-container {
        height: 50px;
    }

    .header {
        width: 275px;
        height: 50px;
    }

    .company {
        font-size: 5px;
    }

    .company li {
        padding: 5px;
    }

    .logo {
        font-size: 5px;
    }

    .nav {
        font-size: 5px;
    }

    .nav li {
        padding: 5px;
    }
}

/*footer*/

@media (max-width: 992px) {
    .social {
        width: 900px;
    }
}

@media (max-width: 768px) { /*iPad*/
    .social {
        width: 700px;
    }

    .copyright small {
        font-size: xx-small;
    }
}

@media (max-width: 576px) {
    .social {
        width: 500px;
    }
}

@media (max-width: 375px) { /*iPhone X*/
    .footer-container {
        height: 50px;
    }

    .social {
        width: 300px;
        font-size: 100%;
        height: 40px;
    }

    .copyright {
        height: 10px;
    }

    .copyright small {
        font-size: 5px;
    }
}

/*index hero*/

@media (max-width: 1200px) {
    .cover-text {
        left: 580px;
        top: 620px;
        font-size: 70%;
        line-height: 20px;
        letter-spacing: 2.5px;
    }
}

@media (max-width: 992px) {
    .cover-text {
        left: 430px;
        top: 650px;
        font-size: 60%;
        line-height: 15px;
        letter-spacing: 2.5px;
    }
}

@media (max-width: 768px) /*iPad*/ {
    .cover-text {
        letter-spacing: 0px;
        line-height: 15px;
        font-size: 60%;
        left: 290px;
    }
}

@media (max-width: 576px) {
    .index-hero-img {
        height: 400px;
    }

    .cover-text {
        top: 480px;
        left: 230px;
        font-size: 50%;
        line-height: 10px;
    }
}

@media (max-width: 375px) /*iPhone x*/{
    .index-hero {
        padding: 20px;
    }

    .index-hero-img {
        height: 300px;
    }

    .cover-text {
        top: 340px;
        left: 160px;
        font-size: 40%;
    }
}