@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
    text-decoration: none;
}

body {
    background-color: white;
    font-family: Comfortaa, sans-serif;
    font-weight: 300;
    color: #1e1926;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Varela+Round, sans-serif;
    color: #1e1926;
}

/*header*/

header {
    padding: 5px;
}

.header-container {
    width: 100%;
    height: 80px;
    background-color: #9a89b4;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

.header {
    width: 1500px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.company {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.company li {
    display: inline;
    color: #FDf7FF;
    padding-right: 25px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    text-transform: uppercase;
    text-decoration: underline;
    color: #FDf7FF;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav li {
    display: inline;
    color: #FDf7FF;
    padding-left: 25px;
}

header a {
    text-decoration: none;
    color: inherit;
}

header a:hover {
    color: #0000ff;
}

/*footer*/

.footer-padding {
    padding: 5px;
}

.footer-container {
    background-color: #9a89b4;
    width: 100%;
    height: 80px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

.social {
    width: 1000px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 250%;
}

.social a {
    color: #FDf7FF;
}

.copyright {
    height: 30px;
    display: flex;
    justify-content: center;
}

.copyright small {
    display: flex;
    align-items: center;
    color: #FDf7FF;
}

footer a:hover {
    color: #0000ff;
}

/*index page*/

.index-hero {
    padding: 50px;
    display: flex;
    justify-content: center; 
}

.index-hero-img {
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url(../images/index-hero.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border: solid 2.5px black;
    box-shadow: 0px 0px 2.5px 2.5px #000000;
}

.cover-text {
    left: 750px;
    top: 600px;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    line-height: 50px;
    letter-spacing: 5px;
}

.positions-padding {
    padding: 0 300px;
}

.positions {
    width: 100%;
}

.txt-padding {
    padding: 25px;
    text-align: center;
}

.txt-padding h4 {
    color: #FDf7FF;
}

.txt-padding a {
    font-size: 200%;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}

.txt-padding button {
    background-color: #9a89b4;
    width: 20%;
    border-radius: 50px;
}

.txt-padding a:hover {
    color: #0000ff;
}

.sleep-info {
    padding-top: 20px;
    font-size: 150%;
}

.back-img {
    width: 50%;
    height: 500px;
    float: left;
    background-image: url(../images/back-index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.back-txt {
    width: 50%;
    height: 500px;
    float: right;
}

.side-img {
    width: 50%;
    height: 500px;
    float: right;
    background-image: url(../images/side-index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.side-txt {
    width: 50%;
    height: 500px;
    float: left;
}

.front-img {
    width: 50%;
    height: 500px;
    float: left;
    background-image: url(../images/front-index.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.front-txt {
    width: 50%;
    height: 500px;
    float: right;
}

/*sleep style*/

.sleep-info-padding {
    padding: 50px 150px;
}

.sleep-info-container {
    width: 100%;
    height: 1000px;
}

.sleep-info-txt {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
}

.sleep-info-txt h2 {
    padding: 50px;
    text-transform: uppercase;
    font-size: 200%;
    letter-spacing: 2.5px;
}

.content p {
    padding: 0px 50px;
    font-size: 150%;
}

/*back page*/

.sleep-info-back {
    background-image: url(../images/back-img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
    width: 50%;
    height: 100%;
}

/*front page*/

.sleep-info-front {
    background-image: url(../images/front-img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
    width: 50%;
    height: 100%;
}

/*side page*/

.sleep-info-side {
    background-image: url(../images/side-img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
    width: 50%;
    height: 100%;
}

/*about page*/

.about-padding {
    padding: 50px;
}

.about-outer {
    border: solid 2px black;
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-outer::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../images/about-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.6;
}

.about {
    position: relative;
    text-align: center;
    font-size: 125%;
}

.about h2 {
    padding-bottom: 20px;
}

.about p {
    padding: 0 100px;
}

/*newsletter*/

.newsletter-padding {
    padding: 0 550px 50px;
}

.newsletter-outer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
}

.newsletter-inner {
    border: solid 2px black;
    border-top: solid 5px black;
}

.newsletter-inner form {
    padding: 20px;
}

.newsletter-inner h2 {
    text-transform: uppercase;
    padding-bottom: 20px;
}

.newsletter-inner p {
    font-size: 100%;
}

.email {
    text-align: center;
}

/*contact*/

.contact-padding {
 padding: 50px 400px;
 display: flex;
justify-content: center;
}

.contact-outer {
    height: 800px;
    width: 100%;
    border: solid 5px black;
    padding: 25px;
}

.contact-inner {
    border: solid 2.5px black;
    width: 100%;
    height: 100%;
    background-color: #fdf7ff;
}

.contact-us {
    width: 100%;
    height: 250px;
}

.factory {
    width: 50%;
    height: 100%;
    float: left;
    border-bottom: solid 2.5px black;
    background-image: url(../images/contact-img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.contact-details {
    width: 50%;
    height: 100%;
    float: right;
    border-bottom: solid 2.5px black;
}

.contact-details h3 {
    text-align: left;
    padding-left: 5px;
}

.contact-details p {
    text-align: right;
    padding-right: 5px;
}

.contact-form {
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form label {
    padding: 5px 0;
}

.contact-form textarea {
    border: solid 1px black;
}

.contact-heading {
    text-align: center;
    padding-bottom: 25px;
}

.contact-heading h2 {
    text-transform: uppercase;
    text-decoration: underline;
    padding: 50px 0;
}

/*styling for forms*/

.input-field {
    border: 1px solid #1e1926;
    padding: 1px;
}

.submit {
    text-transform: uppercase; 
}

.submit:hover {
    color: #0000ff;
} 

/*Media Queries*/

/*header*/

@media (max-width: 1200px) {
    .header {
        width: 1100px;
    }
}

@media (max-width: 992px) {
    .header {
        width: 892px;
    }
}

@media (max-width: 768px) { /*iPad*/
    .header {
        width: 668px;
    }

    .company {
        font-size: x-small;
    }

    .logo {
        font-size: small;
    }

    .nav {
        font-size: x-small;
    }
}

@media (max-width: 576px) {
    .header {
        width: 476px;
    }

    .company {
        font-size: xx-small;
    }

    .logo {
        font-size: x-small;
    }

    .nav {
        font-size: xx-small;
    }
}

@media (max-width: 375px) { /*iPhone X*/
    .header-container {
        height: 50px;
    }

    .header {
        width: 275px;
        height: 50px;
    }

    .company {
        font-size: 5px;
    }

    .company li {
        padding: 5px;
    }

    .logo {
        font-size: 5px;
    }

    .nav {
        font-size: 5px;
    }

    .nav li {
        padding: 5px;
    }
}

/*footer*/

@media (max-width: 992px) {
    .social {
        width: 850px;
    }
}

@media (max-width: 768px) { /*iPad*/
    .social {
        width: 650px;
    }

    .copyright small {
        font-size: xx-small;
    }
}

@media (max-width: 576px) {
    .social {
        width: 400px;
    }
}

@media (max-width: 375px) { /*iPhone X*/
    .footer-container {
        height: 50px;
    }

    .social {
        width: 300px;
        font-size: 100%;
        height: 40px;
    }

    .copyright {
        height: 10px;
    }

    .copyright small {
        font-size: 5px;
    }
}

/*index hero*/

@media (max-width: 1200px) {
    .cover-text {
        left: 580px;
        top: 620px;
        font-size: 70%;
        line-height: 20px;
        letter-spacing: 2.5px;
    }
}

@media (max-width: 992px) {
    .cover-text {
        left: 430px;
        top: 650px;
        font-size: 60%;
        line-height: 15px;
        letter-spacing: 2.5px;
    }
}

@media (max-width: 768px) /*iPad*/ {
    .cover-text {
        letter-spacing: 0px;
        line-height: 15px;
        font-size: 60%;
        left: 290px;
    }
}

@media (max-width: 576px) {
    .index-hero-img {
        height: 400px;
    }

    .cover-text {
        top: 480px;
        left: 230px;
        font-size: 50%;
        line-height: 10px;
    }
}

@media (max-width: 375px) /*iPhone x*/{
    .index-hero {
        padding: 20px;
    }

    .index-hero-img {
        height: 300px;
    }

    .cover-text {
        top: 340px;
        left: 160px;
        font-size: 40%;
    }
}

/*positions*/

@media (max-width: 1200px) {
    .positions-padding {
        padding: 0 150px;
    }

    .back-img, .back-txt, .side-img, .side-txt, .front-img, .front-txt {
        height: 250px;
    }

    .sleep-info {
        padding-top: 5px;
        font-size: 100%;
    }
 
    .txt-padding {
        padding: 5px;
    }

    .txt-padding a {
        font-size: 120%;
    }
}

@media (max-width: 992px) {
    .positions-padding {
        padding: 0 150px;
    }

    .back-img, .back-txt, .side-img, .side-txt, .front-img, .front-txt {
        height: 200px;
    }

    .sleep-info {
        padding-top: 0px;
        font-size: 80%;
    }

    .txt-padding a {
        font-size: 90%;
    }
}

@media (max-width: 768px) /*iPad*/ {
    .positions-padding {
        padding: 0 100px;
    }

    .sleep-info {
        font-size: 80%;
    }

    .txt-padding a {
        font-size: 80%;
    }
}

@media (max-width: 576px) {
    .positions-padding {
        padding: 0 0px;
    }

    .sleep-info {
        font-size: 65%;
    }

    .txt-padding a {
        font-size: 80%;
    }
}

@media (max-width: 375px) /*iPhone x*/ {
    .back-img, .back-txt, .side-img, .side-txt, .front-img, .front-txt {
        height: 200px;
    }
    .positions-padding {
        padding: 0 25px;
    }

    .sleep-info {
        font-size: 65%;
    }

    .txt-padding {
        padding: 0;
    }

    .txt-padding a {
        font-size: 60%;
    }
}

/*sleep style*/

@media (max-width: 1200px) {
    .content p {
        font-size: 120%;
    }
}

@media (max-width: 992px) {
    .sleep-info-txt h2 {
        padding: 25px;
    }
    .content p {
        font-size: 100%;
    }
}

@media (max-width: 768px) /*iPad*/ {
    .sleep-info-padding {
        padding: 25px 75px;
    }
    .content p {
        font-size: 95%;
    }
}

@media (max-width: 576px) {
   .sleep-info-container {
       display: flex;
       flex-direction: column;
   }

   .sleep-info-back, .sleep-info-front, .sleep-info-side {
       width: 100%;
       height: 600px;
   }

   .sleep-info-txt {
       width: 100%;
   }

    .sleep-info-padding {
        padding: 15px 50px;
    }

    .sleep-info-txt h2 {
        padding: 15px;
        font-size: 100%;
    }

    .content p {
        font-size: 100%;
    }
}

@media (max-width: 375px) /*iPhone x*/ {
    .sleep-info-padding {
        padding: 5px 15px;
    }

    .sleep-info-txt h2 {
        padding: 10px;
        font-size: 100%;
    }

    .content p {
        font-size: 80%;
    }
}

/*about*/

@media (max-width: 1200px) {
    .about {
        font-size: 110%;
        padding-bottom: 50px;
    }

    .about h2 {
        padding-bottom: 5px;
    }

    .about p {
        padding: 0 50px;
    }
}

@media (max-width: 992px) {
    .about {
        font-size: 100%;
    }
}

@media (max-width: 768px) /*iPad*/ {
    .about {
        font-size: 90%;
    }

    .about p {
        padding: 0 15px;
    }
}

@media (max-width: 576px) {
    .about {
        padding-bottom: 100px;
    }
}

@media (max-width: 375px) /*iPhone x*/ {
    .about-padding {
        padding: 25px;
    }

    .about-outer {
        height: 500px;
    }

    .about {
        padding-bottom: 20px;
    }
}

/*newsletter form*/

@media (max-width: 1200px) {
    .newsletter-padding {
        padding: 0 300px 50px;
    }
}

@media (max-width: 992px) {
    .newsletter-padding {
        padding: 0 200px 50px;
    }
}

@media (max-width: 768px) /*iPad*/ {
    .newsletter-padding {
        padding: 0 100px 50px;
    }
}

@media (max-width: 576px) {
    .newsletter-padding {
        padding: 0 50px 50px;
    }

    .newsletter-inner {
        font-size: 80%;
    }
}

@media (max-width: 375px) /*iPhone x*/ {
    .newsletter-padding {
        padding: 0 25px 25px;
    }

    .newsletter-inner form {
        padding: 10px;
    }

    .newsletter-inner {
        font-size: 60%;
    }

    .email {
        text-align: left;
    }
    
    .input-field {
        border: 0.5px solid #1e1926;
        padding: 0.5px;
    }

    .newsletter-inner .submit {
        font-size: xx-small;
    }
}

/*contact page*/

@media (max-width: 1200px) {
    .contact-padding {
        padding: 50px 200px;
       }
}

@media (max-width: 992px) {
    .contact-padding {
        padding: 50px 150px;
       }
}

@media (max-width: 768px) /*iPad*/ {
    .contact-padding {
        padding: 50px 100px;
       }
}

@media (max-width: 576px) {
    .contact-padding {
        padding: 50px 50px;
       }

    .contact-outer {
        font-size: 90%;
    }

    .contact-form {
        padding: 0 50px;
    }
}

@media (max-width: 375px) /*iPhone x*/ {
    .contact-padding {
        padding: 25px 25px;
        }
    
    .contact-outer {
        font-size: 70%;
    }
    
    .contact-form {
        padding: 0 50px;
    }
}